*/2 * * * * ~/node.operator.nt/scripts/stake.sh
*/10 * * * * sleep 20 && ~/node.operator.nt/monitor/checkElection.sh
*/10 * * * * sleep 15 && python ~/node.operator.nt/monitor/alarm.py
0 * * * * sleep 33; pkill -f myElection.sh; pkill -f checkElection.sh; pkill -f './lite-client -p /var/ton-work/keys/liteserver.pub'
